* {
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  // display:flex;
  margin:0;
  padding:0;
}

// .svg-canvas {
//   background-color: cyan;
// }

svg {
  background-color: rgb(248, 248, 248);
  height: 100%;
} 

text {
  cursor: pointer;
  fill: black;
  user-select: none;

  &:hover {
    fill: orange;
  }
}


.sun {
  cursor: pointer;
}