* {
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
  padding:0;
}

svg {
  background-color: #ffe9ab;
  height: 100%;
} 

.text-objs {
  cursor: pointer;
  fill: black;
  user-select: none;
  stroke: #00000000;
  stroke-width: 18px;

  &:hover {
    fill: white;
  }
}


.sun {
  cursor: pointer;
}